@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: Nunito;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #FF1E1E1E;
    }
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    #settings {
        color: white;
    }
   #navbar {
       background: black;
   } 
}

#settings {
    object-position: right top;
}

#navbar {
    padding: 10px;
}